.accordion {
  border: 1px solid var(--skillswap-white);
  border-radius: 0.25rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  padding: 1rem;
}

.accordion-title {
  background-color: var(--skillswap-purple);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  cursor: pointer;
}

.accordion-content {
  padding: 0.25rem;
}
