@import url('https://fonts.googleapis.com/css?family=Roboto:400');

html {font-size: 100%;} /*16px*/

body {
  margin: 0 auto;
    background-color: #faf8f9;
    color: rgb(42, 42, 42);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  text-align: center;

}